# Variável pública usada pela seção de vídeos do YouTube na Home
# Renomeie este arquivo para .env.local e mantenha sua chave aqui.
NEXT_PUBLIC_YOUTUBE_API_KEY=AIzaSyBMWHaZ036FcFLxOOmLDIkKF2p-2KUWT-4
NEXT_PUBLIC_YOUTUBE_CHANNEL_ID=UCITORRpgYFysxixfAa623yQ
